{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
