{
  "parser": "babel-eslint",
  "extends": "react",
  "plugins": ["react-hooks", "jest"],
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "indent": ["error", 2],
    "max-len": ["error", { "code": 80, "tabWidth": 2 }],
    "no-unused-expressions": 0,
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "space-before-function-paren": 0
  }
}
